[submodule "dependencies/tinf"]
	path = dependencies/tinf
	url = https://github.com/jibsen/tinf.git
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "gradido_protocol"]
	path = gradido_protocol
	url = https://github.com/gradido/gradido_protocol.git
[submodule "doc/doxygen_awesome_css"]
	path = doc/doxygen_awesome_css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "dependencies/date"]
  path = dependencies/date
  url = https://github.com/HowardHinnant/date.git
[submodule "dependencies/cpp-httplib"]
	path = dependencies/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "dependencies/furi"]
	path = dependencies/furi
	url = https://github.com/iboB/furi.git
[submodule "dependencies/magic_enum"]
	path = dependencies/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "dependencies/loguru"]
	path = dependencies/loguru
	url = https://github.com/emilk/loguru.git
[submodule "dependencies/protopuf"]
	path = dependencies/protopuf
	url = https://github.com/PragmaTwice/protopuf
[submodule "dependencies/fkYAML"]
	path = dependencies/fkYAML
	url = https://github.com/fktn-k/fkYAML.git
[submodule "dependencies/miniz"]
	path = dependencies/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "dependencies/vcpkg"]
	path = dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg.git
